body {
	background-color: #121212;
	color: white;
}

.custom-navbar {
	background-color: #272727;
}

.custom-table {
	background-color: #282828;

}

.custom-card {
	border-color: #282828;
}

/*---Media Queries --*/
@media (max-width: 992px) {
	.myfooter {
		position: relative;
	}
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}